.App {
  font-family: "Roboto", sans-serif;
  font-size: 15px;

  .header {
    padding-left: 15px;
    background-color: #007dc0;
    color: white;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.35);
    z-index: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 7%;
    justify-content: center;
    font-weight: 600;
  }

  .content {
    z-index: 0;
    height: 93%;
  }
}
