@import "../variables.scss";

.imageContainer {
  margin-top: 10%;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid {
  .gridTitle {
    background-color: #747474;
    color: white;
    padding: 10px;
  }
  .information {
    font-size: 13px;

    .infoItem {
      .column {
        padding: 10px;
      }
      .description {
        display: flex;
        align-items: center;
        width: 27%;
      }
      .data {
        width: 53%;
        padding: 15px 5px 15px 5px;
        white-space: nowrap;

        .data-icon {
          .batteryIcon {
            width: 15%;
          }
        }
      }

      .instructionContainer {
        width: 25%;
        display: flex;
        align-items: center;
        text-align: center;
        color: $light-green;
        font-weight: 700;

        .instruction {
          width: 100%;
          font-size: 12px;
          border: none;
          box-shadow: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.messageContainer {
  padding: 10px;
  .title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
  }

  .message {
    font-size: 15px;
  }
}

.button.secondary {
  height: 40px;
}

.button-wheelchair {
  height: 50px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-flex;
}

.image-wheelchair {
  height: 350px;
  margin-top: 10px;
  margin-left: 50px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  // border: 1px solid #ccc;
  // display: inline-block;
  margin-top: 2px;
  cursor: pointer;
  // margin-left: 10px;
  // height: auto !important;
  // margin-tio: 19px;
  width: 21% !important;
  height: 26px !important;
  margin-left: 20px;
  padding-left: 48px !important;
}

.done-wheelchair {
  margin-top: 3px;
  margin-left: 13px;
}
